<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAE-OCR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container-fluid">
        <h1 contenteditable="true" class="text-center my-4">Nom de la rencontre</h1>
        <div class="text-center mb-4">
            <button id="toggleView" class="btn btn-primary">Vue Condensée</button>
            <button id="exportBtn" class="btn btn-success">Exporter</button>
            <input type="file" id="importFile" class="d-none">
            <button id="importBtn" class="btn btn-info">Importer</button>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Officiels</h2>
                <div id="officials" class="list-group d-flex flex-row flex-wrap"></div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2 contenteditable="true">Equipe 1</h2>
                <div id="team1" class="list-group d-flex flex-row flex-wrap"></div>
            </div>
            <div class="col-md-6">
                <h2 contenteditable="true">Equipe 2</h2>
                <div id="team2" class="list-group d-flex flex-row flex-wrap"></div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Non-affecté</h2>
                <div id="unassigned" class="list-group d-flex flex-row flex-wrap">
                    {% for p in participants %}
                    <div class="list-group-item participant-card" data-id="{{ p.licence }}">
                        <p><strong>Nom:</strong>
                            {% if p.image_uri %}
                            <a href="{{ p.image_uri }}" target="_blank">{{ p.nom }}</a>
                            {% else %}
                            {{ p.nom }}
                            {% endif %}
                        </p>
                        <p><strong>Prénom:</strong> {{ p.prenom }}</p>
                        <p><strong>Classement:</strong> {{ p.classement }}</p>
                        <p class="card-detail"><strong>Licence:</strong> {{ p.licence }}</p>
                        <p class="card-detail"><strong>Année validité:</strong> {{ p.annee_validite }}</p>
                        <p class="card-detail"><strong>Club:</strong> {{ p.club }}</p>
                        <p class="card-detail"><strong>Statut:</strong> {{ p.statut }}</p>
                        <div class="form-check card-detail">
                            <input class="form-check-input" type="checkbox" {% if p.id_checked %}checked{% endif %}>
                            <label class="form-check-label">Pièce d'identité</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">Alexis MP - </span>
        <a href="https://github.com/alexismp/jae-identites" target="_blank">GitHub</a>
    </div>
</footer>

</html>