.participant-card {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 220px; /* Adjust as needed */
}

.participant-card p {
    margin-bottom: 0.25rem;
}

.list-group {
    min-height: 100px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 10px;
}

.condensed-view .participant-card {
    font-size: 0.8rem;
}

.condensed-view .card-detail {
    display: none;
}
