<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proto-Scan</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>JAE Scan</h1>
    <div id="scanner-container">
        <div id="video-wrapper">
            <video id="video" playsinline></video>
        </div>
        <img id="frozen-image" src="" alt="Frozen Image" style="display: none;">
        <div id="overlay">
            <div class="scan-guide"></div>
        </div>
    </div>
    <button id="manual-capture-button">Scan</button>
    <div id="status-message"></div>
    <div id="results-container"></div>
    <!--button id="manual-capture-button">Scan</button-->
        <script src="/static/js/script.js"></script>
</body>
</html>
