<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAE Scanner</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="main-container">
        <h1>JAE Scan</h1>
        <div class="scanner-row">
            <div id="scanner-container">
                <div id="video-wrapper">
                    <video id="video" playsinline></video>
                </div>
                <img id="frozen-image" src="" alt="Frozen Image" style="display: none;">
                <div id="overlay">
                    <div class="scan-guide"></div>
                </div>
                <div id="scanner-message"></div>
            </div>
            <button id="manual-capture-button">Scan</button>
        </div>
    </div>
    <div id="orientation-message" style="display: none;">
        <p>Veuillez tourner votre appareil en mode paysage.</p>
    </div>

    <div id="results-container"></div>
        <script src="/static/js/script.js"></script>

    <footer>
        <p>Build Version: {{ app_version }}</p>
    </footer>
</body>
</html>
